body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER  */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding: 24px 0;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.header-nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.header-list:hover,
.header-list:focus {
  color: #404bbf;
}

.header-navigation {
  color: #434455;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-navigation .header-nav-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-navigation .header-nav-link:hover,
.header-navigation .header-nav-link:focus {
  color: #404bbf;
}

.address-item-link {
  display: block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-item-link:hover,
.address-item-link:focus {
  color: #404bbf;
}

/* ----SECTION HERO-----  */

.section-hero {
  background: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  color: #ffffff;
  line-height: 1.07;
  margin-left: auto;
  margin-right: auto;
}

.review-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
}

.review-btn:hover {
  background-color: #404bbf;
}

.review-btn:focus {
  background-color: #404bbf;
}

/* SECTION FEATURES */

.section-features {
  padding: 120px 156px;
  padding: 120px 0;
}

.features-inner {
  display: flex;
  gap: 24px;
}

.features-list {
  width: calc((100% - 72px) / 4);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-des {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION TEAM */

.section-background-ourteam {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-box {
  display: flex;
  gap: 24px;
}

.list-ourteam {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-ourteam {
}
.team_list {
  padding: 32px 0;
}

.team-title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-list-disc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* SECTION PORTFOLIO */
.portfolio {
  row-gap: 48px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 100%;
  margin-bottom: 72px;
}

.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio_list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-disc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* SECNION FOOTER */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  background-color: #2e2f42;
  height: 312px;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  line-height: 1.17;
}

.footer-desc {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-size: 16px;
  width: 264px;
}
